@media screen and (max-width: 1080) and (min-width: 720px) {
    body{
        width: 100%;
    }
}

nav, main {
    background-color: rgb(122, 247, 215);
    border: 2px solid;
    border-radius: 10px;
}

nav{
    padding: 0.01%;
    font-family: Trebuchet MS;
    overflow: hidden;
}

.navHeading {
    position: absolute;
    float: left;
    line-height: 0;
}

.navLinks{
    float: right;
    color:antiquewhite;
    font-size: 50px;
}

.navLinks a{
    text-decoration: none;
}
.navLinks a:hover{
    background-color: rgb(228, 133, 133);
}

.active{
    background-color: rgb(39, 171, 201);
}

#home, #ph, #project, #contact {
    width:50px;
    height:50px;
}

main {
    margin: 5px auto;
    font-family: Goudy Old Style;
    align-self: top;
}

#partOne{
    padding: 1vh 2vh;
    font-size: 80px;
}

#partTwo{
    padding: 1vh 2vh 11.5vh;
    font-size: 40px;
}
