@media screen {
    body{
        width: auto;
    }
    main{
        margin-top: 5px;
        padding-bottom: 50vh;
    }
}

nav, main {
    background-color: rgb(122, 247, 215);
    border: 2px solid;
    border-radius: 10px;
}

nav{
    padding: auto 1vh;
    font-family: Trebuchet MS;
    overflow: hidden;
}

.navHeading {
    position: absolute;
    float: left;
    line-height: 0;
    margin-left: 5px;
}

.navLinks{
    float: right;  
    font-size: 5px;
}

.navLinks a{
    text-decoration: none;
}
.navLinks a:hover{
    background-color: rgb(228, 133, 133);
    border-radius: 10px;
}

.active{
    background-color: rgb(39, 171, 201);
    border-radius: 10px;
}

#home, #ph, #project, #contact {
    width:50px;
    height:50px;
}

main {
    font-family: Goudy Old Style;
    font-size: 50px;
    text-align: center;
}

.threeButtonResume a{
    text-decoration: none;
}

.threeButtonResume a:hover{
    background-color: white;
    border-radius: 1px;
}

.mainActive{
    background-color: rgb(39, 171, 201);
    border-radius: 10px;
}

.resumePage{
    margin: 5px 55px;
    border: 5px solid;
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    overflow: scroll;
    line-height: 0;
}

#h2Company, #h2Position {
    text-align: left;
}

#h3Location, #h3Date{
    text-align: right;
    float: right;
}

